<div>
  <h1>Entrá con tu Github</h1>
  <a href="/api/sessions/github"><button>Ingresar</button></a>

  <br />

  <p>¿No tienes cuenta? <a href="/views/users/register">Regístrate aca</a></p>
  <p>¿Ya tenes una cuenta creada?<a href="/views/users/login">Inicia sesión</a></p>
</div>