<h1>Iniciar Sesión</h1>
<form action="/login" method="POST" class="form" id="loginForm">
  <div>
    <label for="email">Correo electrónico:</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Ingresa tu email"
      required
    />
  </div>

  <div>
    <label for="password">Contraseña:</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Ingresa tu contraseña"
      required
    />
  </div>

  <button type="submit">Ingresar</button>
</form>

<p>¿No tienes cuenta? <a href="/views/users/register">Regístrate aquí</a></p>

<script src="/js/login.js"></script>